.customAnimationBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000031;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 100;
}

.animDelete {
  display: none;
}

.animationWrap {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animationWrap img {
  width: 300px;
  height: 300px;
  animation: moveImgToCenter 2s ease-in forwards;
  background-color: #000031;
  position: relative;
}

.imgWrap {
  background-color: transparent;
  position: relative;
}

.imgWrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-95px);
  background-color: #000031;
}

.animationText {
  height: 150px;
}

.animationText .firstText {
  margin-top: 20px;
  color: white;
  margin-left: -95px;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 40px;
  animation: moveTopText 1.5s ease-in forwards;
}

.animationText .secondText {
  color: white;
  margin-left: -10px;
  font-size: 90px;
  font-weight: bold;
  animation: moveBottomText 1.5s ease-in forwards;
}

@keyframes moveTopText {
  0% {
    margin-left: -380px;
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  100% {
    margin-left: -70px;
    position: relative;
    opacity: 1;
  }
}

@keyframes moveBottomText {
  0% {
    margin-left: -270px;
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    margin-left: 20px;
    position: relative;
    opacity: 1;
  }
}

@media (max-width: 535px) {
  .animation-wrap img {
    width: 200px;
    height: 250px;
  }
  .animation-text .first-text {
    font-size: 60px;
    margin-bottom: 20px;
    animation: moveSmallTopText 1.5s ease-in forwards;
  }

  .animation-text .second-text {
    font-size: 60px;
  }

  @keyframes moveSmallTopText {
    0% {
      margin-left: -380px;
      opacity: 0;
    }

    80% {
      opacity: 0;
    }
    100% {
      margin-left: -50px;
      position: relative;
      opacity: 1;
    }
  }
}
